.container {
    background-color: gray;
    color: black;
    height: 85%;
}

.lista  {
    background-color: rgb(36, 33, 30);;
    overflow: hidden;
    height: 100%;
    color: gray;
}

i {
    padding-right: .6rem;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

.sair {
    position: absolute;
    bottom: 1rem;
}
