.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}


.criar-categoria{
    margin-bottom: .5rem;
    background-color: blue;
}

.table{
    background-color: rgba(61, 58, 58, 0.918);
    width: 100%;
}

.mat-header{
    width: 5rem;
}

.actions{
    color:white;
    margin-right: .5rem;
    cursor: pointer;
}

.produtos {
    color:white;
    margin-left: .9rem;
}

.botao:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 255, 0.700);
}


